<%= form_with(model: @picture, local: true, url: choose_new_or_edit) do |form| %>
  <% if @picture.errors.any? %>
    <div id = "error_explanation">
     <h2><%= @picture.errors.count %>件のエラーがあります.</h2>
     <ul>
     <% @picture.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
     <% end %>
     </ul>
    </div>
  <% end %>

  <div class = "container">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>
  <div class = "container">
    <%= form.label :content %>
    <%= form.text_field :content, class: "form-control" %>
  </div>
  <br>
  <div class="image_field">
    <%= form.label :image %>
    <%= image_tag(@picture.image.url, style: 'width: 200px; height: 180px;') if @picture.image && @picture.image.url %>
    <%= form.file_field :image %>
    <%= form.hidden_field :image_cache %>
  </div>
  <br>
  <div class = "container">
    <%= form.submit %>
  </div>
<% end %>
<br>

<div class = "container">
  <%= link_to "一覧画面に戻る", pictures_path, class: "btn btn-danger" %>
</div>