  <%# <div class="mycontainer">  %>
<h1>画像一覧</h1>
       <%# <><%= notice %>
  <article>
     <div class = "content">   
       <% @pictures.each do |picture| %>
         <ul class = "event">
           <li><%= picture.user.name %></li>
           <li><%= picture.title %></li>
           <li><%= picture.content %></li>
           <li><%= image_tag picture.image.url() %></li>
        <div class = "menu clearfix">
           <li><%= link_to '詳細', picture_path(picture.id), class: "btn btn-primary" %></li>
           <li><%= link_to '編集', edit_picture_path(picture.id), data: { confirm: '本当に編集していいですか'},
               class: "btn btn-primary" %></li>
           <li><%= button_to '削除', picture_path(picture.id), meliod: :delete, data: { confirm: '本当に削除していいですか' },
               class: "btn btn-primary" %></li>
         </div>
         </ul>
       <% end %>
       </div>
 
       <br>
 
    <div class = "side clearfix">
       <%= link_to '新しい画像を投稿', new_picture_path, class: "btn btn-success" %>
    </div>
  </article>